@import '../../sass//variables.scss';

.ctner {
    border: 1px solid black;
    border-radius: 5px;
    height: 16rem;
    margin: 0.4rem;
    background-color: tomato;
    display: grid;
    grid: 1fr 1fr / 1fr;
    .bg {
        background-image: url('https://static.wikia.nocookie.net/gensin-impact/images/0/08/Achievement_Elemental_Specialist.png');
        //background: contain center no-repeat;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .title {
        background-color: #B4B1AE;
    }
}