
// COLORES USADOS PARA TEXTOS Y FONDOS
$color1 : #ECE5D8; // (body, bg) fondos y cuerpo general .
$color2 : #D3BC8E; // (!titles) titulos principales.
$black1 : #3B4255; // (titles, !bg) titulos principales / fondos importantes.
$black2 : #565E6F; // (body, bg) cuerpo general y fondos.

$green-pry: #C0FF40; // (!selected) 