.footer {
    background-color: transparent;
    padding: 0.5em 1.5em;
}
.footer__h3 {
    text-align: end;
}
.a_link {
    text-decoration: none;
    color: inherit;
}
.a_link:hover {
    color: #FECC7B;
}